# test

In [32]:
print('test')

test

读取txt文件

In [33]:
# files = open('//home/chenhuai/桌面/test.txt')

循环获取txt文件内容

In [34]:
# for each in files:
#     print(each)

excel

In [35]:
import pandas as pd
testFile = pd.read_excel('C:\\Users\\chenhuai\\Desktop\\临时文件\\test.xlsx')
testFile

     t1   t2   t3   t4   t5   t6   t7   t8   t9
0    c1   c2  c33   c4   c5   c6   c7   c8   c9
1    c2   c3   c4   c5   c6   c7   c8   c9  c10
2    c3   c4   c5   c6   c7   c8   c9  c10  c11
3    c4   c5   c6   c7   c8   c9  c10  c11  c12
4    c5   c6   c7   c8   c9  c10  c11  c12  c13
5    c6   c7   c8   c9  c10  c11  c12  c13  c14
6    c7   c8   c9  c10  c11  c12  c13  c14  c15
7    c8   c9  c10  c11  c12  c13  c14  c15  c16
8    c9  c10  c11  c12  c13  c14  c15  c16  c17
9   c10  c11  c12  c13  c14  c15  c16  c17  c18
10  c11  c12  c13  c14  c15  c16  c17  c18  c19
11  c12  c13  c14  c15  c16  c17  c18  c19  c20
12  c13  c14  c15  c16  c17  c18  c19  c20  c21
13  c14  c15  c16  c17  c18  c19  c20  c21  c22

In [36]:
test1File = pd.read_excel('C:\\Users\\chenhuai\\Desktop\\临时文件\\test1.xlsx')
test1File

    t1   t2   t3   t4   t5   t6   t7   t8   t9
0   c1   c2   c3   c4   c5   c6   c7   c8   c9
1   c2   c3   c4   c5   c6   c7   c8   c9  c10
2   c3   c4   c5   c6   c7   c8   c9  c10  c11
3   c4   c5   c6   c7   c8   c9  c10  c11  c12
4   c5   c6   c7   c8   c9  c10  c11  c12  c13
5   c6   c7   c8   c9  c10  c11  c12  c13  c14
6   c7   c8   c9  c10  c11  c12  c13  c14  c15
7   c8   c9  c10  c11  c12  c13  c14  c15  c16
8   c9  c10  c11  c12  c13  c14  c15  c16  c17
9  c10  c11  c12  c13  c14  c15  c16  c17  c18

In [37]:
res = pd.merge(testFile,test1File)
res

    t1   t2   t3   t4   t5   t6   t7   t8   t9
0   c2   c3   c4   c5   c6   c7   c8   c9  c10
1   c3   c4   c5   c6   c7   c8   c9  c10  c11
2   c4   c5   c6   c7   c8   c9  c10  c11  c12
3   c5   c6   c7   c8   c9  c10  c11  c12  c13
4   c6   c7   c8   c9  c10  c11  c12  c13  c14
5   c7   c8   c9  c10  c11  c12  c13  c14  c15
6   c8   c9  c10  c11  c12  c13  c14  c15  c16
7   c9  c10  c11  c12  c13  c14  c15  c16  c17
8  c10  c11  c12  c13  c14  c15  c16  c17  c18

In [38]:
files = testFile.append(test1File)
files

     t1   t2   t3   t4   t5   t6   t7   t8   t9
0    c1   c2  c33   c4   c5   c6   c7   c8   c9
1    c2   c3   c4   c5   c6   c7   c8   c9  c10
2    c3   c4   c5   c6   c7   c8   c9  c10  c11
3    c4   c5   c6   c7   c8   c9  c10  c11  c12
4    c5   c6   c7   c8   c9  c10  c11  c12  c13
5    c6   c7   c8   c9  c10  c11  c12  c13  c14
6    c7   c8   c9  c10  c11  c12  c13  c14  c15
7    c8   c9  c10  c11  c12  c13  c14  c15  c16
8    c9  c10  c11  c12  c13  c14  c15  c16  c17
9   c10  c11  c12  c13  c14  c15  c16  c17  c18
10  c11  c12  c13  c14  c15  c16  c17  c18  c19
11  c12  c13  c14  c15  c16  c17  c18  c19  c20
12  c13  c14  c15  c16  c17  c18  c19  c20  c21
13  c14  c15  c16  c17  c18  c19  c20  c21  c22
0    c1   c2   c3   c4   c5   c6   c7   c8   c9
1    c2   c3   c4   c5   c6   c7   c8   c9  c10
2    c3   c4   c5   c6   c7   c8   c9  c10  c11
3    c4   c5   c6   c7   c8   c9  c10  c11  c12
4    c5   c6   c7   c8   c9  c10  c11  c12  c13
5    c6   c7   c8   c9  c10  c11  c12  c13  c14
6    c7   c8   c9  c10  c11  c12  c13  c14  c15
7    c8   c9  c10  c11  c12  c13  c14  c15  c16
8    c9  c10  c11  c12  c13  c14  c15  c16  c17
9   c10  c11  c12  c13  c14  c15  c16  c17  c18

In [39]:
files.drop_duplicates(keep=False,inplace=True)
files

     t1   t2   t3   t4   t5   t6   t7   t8   t9
0    c1   c2  c33   c4   c5   c6   c7   c8   c9
10  c11  c12  c13  c14  c15  c16  c17  c18  c19
11  c12  c13  c14  c15  c16  c17  c18  c19  c20
12  c13  c14  c15  c16  c17  c18  c19  c20  c21
13  c14  c15  c16  c17  c18  c19  c20  c21  c22
0    c1   c2   c3   c4   c5   c6   c7   c8   c9