# test

In [1]:
print('test')

test

读取txt文件

In [2]:
# files = open('//home/chenhuai/桌面/test.txt')

循环获取txt文件内容

In [3]:
# for each in files:
#     print(each)

excel

In [4]:
import pandas as pd
testFile = pd.read_excel('test.xlsx')
testFile

   1   2    3    4    5    6    7    8    9    10   11
0  c1  c2   c3   c4   c5   c6   c7   c8   c9  c10  c11
1  c2  c3   c4   c5   c6   c7   c8   c9  c10  c11  c12
2  c3  c4   c5   c6   c7   c8   c9  c10  c11  c12  c13
3  c4  c5   c6   c7   c8   c9  c10  c11  c12  c13  c14
4  c5  c6   c7   c8   c9  c10  c11  c12  c13  c14  c15
5  c6  c7   c8   c9  c10  c11  c12  c13  c14  c15  c16
6  c7  c8   c9  c10  c11  c12  c13  c14  c15  c16  c17
7  c8  c9  c10  c11  c12  c13  c14  c15  c16  c17  c18

In [9]:
test1File = pd.read_excel('test1.xlsx')
test1File

     1    2    3    4    5    6    7    8    9    10   11
0    c2   c3   c4  c55   c6   c7   c8   c9  c10  c11  c12
1    c3   c4   c5   c6  c77   c8   c9  c10  c11  c12  c13
2    c4   c5   c6   c7   c8   c9  c10  c11  c12  c13  c14
3    c5   c6   c7   c8   c9  c10  c11  c12  c13  c14  c15
4    c6   c7   c8   c9  c10  c11  c12  c13  c14  c15  c16
5    c7   c8   c9  c10  c11  c12  c13  c14  c15  c16  c17
6    c8   c9  c10  c11  c12  c13  c14  c15  c16  c17  c18
7    c9  c10  c11  c12  c13  c14  c15  c16  c17  c18  c19
8   c10  c11  c12  c13  c14  c15  c16  c17  c18  c19  c20
9   c11  c12  c13  c14  c15  c16  c17  c18  c19  c20  c21
10  c12  c13  c14  c15  c16  c17  c18  c19  c20  c21  c22
11  c13  c14  c15  c16  c17  c18  c19  c20  c21  c22  c23
12   c1   c2   c3   c4   c5   c6   c7   c8   c9  c10  c11

merge：交集

In [10]:
res = pd.merge(testFile,test1File)
res

   1   2    3    4    5    6    7    8    9    10   11
0  c1  c2   c3   c4   c5   c6   c7   c8   c9  c10  c11
1  c4  c5   c6   c7   c8   c9  c10  c11  c12  c13  c14
2  c5  c6   c7   c8   c9  c10  c11  c12  c13  c14  c15
3  c6  c7   c8   c9  c10  c11  c12  c13  c14  c15  c16
4  c7  c8   c9  c10  c11  c12  c13  c14  c15  c16  c17
5  c8  c9  c10  c11  c12  c13  c14  c15  c16  c17  c18

append：有些类似列表功能

In [11]:
files = testFile.append(test1File)
files

     1    2    3    4    5    6    7    8    9    10   11
0    c1   c2   c3   c4   c5   c6   c7   c8   c9  c10  c11
1    c2   c3   c4   c5   c6   c7   c8   c9  c10  c11  c12
2    c3   c4   c5   c6   c7   c8   c9  c10  c11  c12  c13
3    c4   c5   c6   c7   c8   c9  c10  c11  c12  c13  c14
4    c5   c6   c7   c8   c9  c10  c11  c12  c13  c14  c15
5    c6   c7   c8   c9  c10  c11  c12  c13  c14  c15  c16
6    c7   c8   c9  c10  c11  c12  c13  c14  c15  c16  c17
7    c8   c9  c10  c11  c12  c13  c14  c15  c16  c17  c18
0    c2   c3   c4  c55   c6   c7   c8   c9  c10  c11  c12
1    c3   c4   c5   c6  c77   c8   c9  c10  c11  c12  c13
2    c4   c5   c6   c7   c8   c9  c10  c11  c12  c13  c14
3    c5   c6   c7   c8   c9  c10  c11  c12  c13  c14  c15
4    c6   c7   c8   c9  c10  c11  c12  c13  c14  c15  c16
5    c7   c8   c9  c10  c11  c12  c13  c14  c15  c16  c17
6    c8   c9  c10  c11  c12  c13  c14  c15  c16  c17  c18
7    c9  c10  c11  c12  c13  c14  c15  c16  c17  c18  c19
8   c10  c11  c12  c13  c14  c15  c16  c17  c18  c19  c20
9   c11  c12  c13  c14  c15  c16  c17  c18  c19  c20  c21
10  c12  c13  c14  c15  c16  c17  c18  c19  c20  c21  c22
11  c13  c14  c15  c16  c17  c18  c19  c20  c21  c22  c23
12   c1   c2   c3   c4   c5   c6   c7   c8   c9  c10  c11

删除重复项，但是一旦有不同的话都会返回。
* keep： {‘first’, ‘last’, False}, 默认值 ‘first’
    * first： 保留第一次出现的重复项。
    * last： 删除重复项，仅保留最后一次出现的重复项。
    * False： 删除所有重复项。
* inplace：布尔值，默认为False，是否删除重复项或返回副本

In [12]:
files.drop_duplicates(keep=False,inplace=True)
files

     1    2    3    4    5    6    7    8    9    10   11
1    c2   c3   c4   c5   c6   c7   c8   c9  c10  c11  c12
2    c3   c4   c5   c6   c7   c8   c9  c10  c11  c12  c13
0    c2   c3   c4  c55   c6   c7   c8   c9  c10  c11  c12
1    c3   c4   c5   c6  c77   c8   c9  c10  c11  c12  c13
7    c9  c10  c11  c12  c13  c14  c15  c16  c17  c18  c19
8   c10  c11  c12  c13  c14  c15  c16  c17  c18  c19  c20
9   c11  c12  c13  c14  c15  c16  c17  c18  c19  c20  c21
10  c12  c13  c14  c15  c16  c17  c18  c19  c20  c21  c22
11  c13  c14  c15  c16  c17  c18  c19  c20  c21  c22  c23